<%- include('partials/header') %>

<section class="hero">
    <h1>Sistema de Gestão de Produtos</h1>

    <p>Gerencie produtos de maneira moderna, rápida e organizada.</p>

    <a href="/produtos" class="btnHero">Começar</a>
</section>

<section class="cards">
    <div class="card">
        <h2>Cadastro</h2>

        <p>Cadastre produtos facilmente.</p>
    </div>

    <div class="card">
        <h2>Atualização</h2>

        <p>Edite informações rapidamente.</p>
    </div>

    <div class="card">
        <h2>Organização</h2>

        <p>Sistema estruturado com MongoDB.</p>
    </div>
</section>

<%- include('partials/footer') %>