<%- include('partials/header') %>

<div class="container">

    <h1>Sobre o Projeto</h1>

    <p>Projeto desenvolvido utilizando:</p>

    <div class="cards">
        <div class="card">Node.js</div>

        <div class="card">Express</div>

        <div class="card">MongoDB</div>

        <div class="card">EJS</div>
    </div>
</div>

<%- include('partials/footer') %>