<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Sistema de Produtos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">ProductHub</div>

        <div class="menu">
            <a href="/">Home</a>
            <a href="/sobre">Sobre</a>
            <a href="/contato">Contato</a>
            <a href="/produtos">Produtos</a>
        </div>
    </nav>